{% extends 'main/base.html' %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}

<div class="container">

  <div class="sub-heading">China Railway Engineering Equipment (Australia) Pty Ltd</div>

  <div class="row">
    <div class="col-md-7">
      <p class="text-justify">{{ textblock_1|safe }}</p>
    </div>    
    <div class="col-md-5">
      <div class="image-container">
        <img src="{{ media_url }}/{{ pageimage_1 }}" alt="{{ pageimage_1 }}" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="image-container">
        <img src="{{ media_url }}/{{ pageimage_2 }}" alt="{{ pageimage_2 }}" />
      </div>
    </div>
    <div class="col-md-7">
      <p class="text-justify">{{ textblock_2|safe }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="image-container">
        <img src="{{ media_url }}/{{ pageimage_3 }}" alt="{{ pageimage_3 }}" />
      </div>
    </div>
    <div class="col-md-7">
      <p class="text-justify">{{ textblock_3|safe }}</p>
    </div>
  </div>    
</div>

{% endblock %}
