{% extends 'main/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">
    <div class="row section">
        <div class="col-md-7">
            {{ textblock_1 }}
        </div>    
        <div class="col-md-5">
            <div class="image-container">
                <img src="http://media.seanlinxs.net/{{ pageimage_1.image }}" alt="{{ pageimage_1.name }}" />
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="col-md-5">
            <div class="image-container">
                <img src="/static/main/images/secondary-box3.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-7">
            Ut ac augue eget dolor egestas vulputate sed vel nibh. Duis tortor enim, aliquet in consectetur ut, posuere in ipsum. Sed iaculis congue pellentesque. Integer bibendum luctus suscipit. Cras elementum leo magna, id laoreet nulla tristique et. Vivamus quis ornare justo, in accumsan felis. Sed quis tortor ac ipsum dictum blandit quis cursus ante. Sed tortor enim, luctus quis neque at, cursus pellentesque nibh. Vivamus dui quam, pharetra id venenatis in, vestibulum sit amet libero. In hac habitasse platea dictumst. Integer pretium semper auctor. Donec efficitur mi nisl, sed efficitur mauris mattis vel.
        </div>
    </div>
    <div class="row section">
        <div class="col-md-5">
            <div class="image-container">
                <img src="/static/main/images/secondary-box2.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-7">
            Ut ac augue eget dolor egestas vulputate sed vel nibh. Duis tortor enim, aliquet in consectetur ut, posuere in ipsum. Sed iaculis congue pellentesque. Integer bibendum luctus suscipit. Cras elementum leo magna, id laoreet nulla tristique et. Vivamus quis ornare justo, in accumsan felis. Sed quis tortor ac ipsum dictum blandit quis cursus ante. Sed tortor enim, luctus quis neque at, cursus pellentesque nibh. Vivamus dui quam, pharetra id venenatis in, vestibulum sit amet libero. In hac habitasse platea dictumst. Integer pretium semper auctor. Donec efficitur mi nisl, sed efficitur mauris mattis vel.
        </div>
    </div>    
</div>

{% endblock %}