{% extends 'main/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container" id="contact">

    <h2>China Railway Engineering Equipment (Australia) Pty Ltd</h2>

    <hr />

    <div class="row form-group">
        <div class="col-md-3">
            <label>Address</label>
        </div>
        <div class="col-md-7">
            <p>Unit 1/118 Bourke Road ALEXANDRIA NSW 2015</p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label>Telephone</label>
        </div>
        <div class="col-md-7">
            <p>+61 2 .... ....</p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label>Fax</label>
        </div>
        <div class="col-md-7">
            <p>+61 2 .... ....</p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label>Email</label>
        </div>
        <div class="col-md-7">
            <p><a href="mailto:enquiries@crega.com.au">enquiries@crega.com.au</a></p>
        </div>
    </div>

</div>

{% endblock %}
