{% extends 'main/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container" id="contact">

  <div class="sub-heading">China Railway Engineering Equipment (Australia) Pty Ltd</div>

  <div class="row form-group">
    <div class="col-md-3">
      <label>Address</label>
    </div>
    <div class="col-md-7">
      <p>Unit 1/118 Bourke Road ALEXANDRIA NSW 2015</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3">
      <label>Telephone</label>
    </div>
    <div class="col-md-7">
      <p>+61 2 9698 0018</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3">
      <label>Fax</label>
    </div>
    <div class="col-md-7">
      <p>+61 2 9699 9919</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3">
      <label>Email</label>
    </div>
    <div class="col-md-7">
      <p><a href="mailto:info@crega.com.au">info@crega.com.au</a></p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3">
      <label>ABN</label>
    </div>
    <div class="col-md-7">
      <p>12 345 67</p>
    </div>
  </div>
</div>

{% endblock %}
