{% extends 'main/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="container" id="contact">

    <h2>Crega company name</h2>

    <hr />

    <div class="row form-group">
        <div class="col-md-3">
            <label>Address</label>
        </div>
        <div class="col-md-7">
            <p>345 Victoria Avenue Chatswood NSW 2067</p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label>Email</label>
        </div>
        <div class="col-md-7">
            <p><a href="mailto:info@crega.com.au">info@crega.com.au</a></p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label>Phone</label>
        </div>
        <div class="col-md-7">
            <p>(+61) 02 8888 8888</p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label>Mobile</label>
        </div>
        <div class="col-md-7">
            <p>(+61) 0412 345 678</p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-3">
            <label>ABN</label>
        </div>
        <div class="col-md-7">
            <p>12 345 678</p>
        </div>
    </div>
</div>

{% endblock %}