{% extends 'main/base.html' %}

{% block title %}Enquiry{% endblock %}

{% block content %}

<div class="container">

    <h3>
        Send us your questions and enquiries by filling following form, we will response soon.
    </h3>

    <form method="post" id="enquiry-form">
        <div class="row form-group">
            <div class="col-md-3">
                <label>First name</label>
            </div>
            <div class="col-md-7">
                <input type="text" name="FirstName" placeholder="First name" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label>Last name</label>
            </div>
            <div class="col-md-7">
                <input type="text" name="LastName" placeholder="Last name" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label>Email <span class="required">*</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" name="Email" placeholder="Email" required />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label>Phone</label>
            </div>
            <div class="col-md-7">
                <input type="text" name="Phone" placeholder="Phone" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <label>Content</label>
            </div>
            <div class="col-md-7">
                <textarea name="Content" rows="10" placeholder="Content"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <button type="submit" name="Submit">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}