{% extends 'main/base.html' %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}

<div class="primary-container">
    <div class="primary-box">
        <div class="primary-box-bgimage">
            <img src="{{ media_url }}/{{ primary_box_image }}" alt="{{ primary_box_image }}">
        </div>
        <div class="primary-box-heading">
            <a href="#">{{ primary_box_text }}</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="secondary-boxes">
        <ul>
            <li>
                <div class="secondary-box">
                    <div class="secondary-box-bgimage">
                        <img src="{{ media_url }}/{{ secondary_box_image_1 }}" alt="{{ secondary_box_image_1 }}">
                    </div>
                    <div class="secondary-box-heading">
                        <a href="#">{{ secondary_box_text_1 }}</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="secondary-box">
                    <div class="secondary-box-bgimage">
                        <img src="{{ media_url }}/{{ secondary_box_image_2 }}" alt="{{ secondary_box_image_2 }}">
                    </div>
                    <div class="secondary-box-heading">
                        <a href="#">{{ secondary_box_text_2 }}</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="secondary-box">
                    <div class="secondary-box-bgimage">
                        <img src="{{ media_url }}/{{ secondary_box_image_3 }}" alt="{{ secondary_box_image_3 }}">
                    </div>
                    <div class="secondary-box-heading">
                        <a href="#">{{ secondary_box_text_3 }}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="row news">
        <ul>
        {% for n in news %}
            <li>
                <div class="news-picture" style="background: url({{ media_url }}/{{ n.image }}) no-repeat"></div>
                <div class="news-content">
                    <a href="#">{{ n.title }}</a>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}