{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="primary-container">
    <div class="primary-box" style="background: url(/static/main/images/primary-box-bg.png) -400px -76px no-repeat">
        <div class="primary-box-heading">
            <a href="#">Proin pellentesque nulla id elit condimentum tempor. Proin pharetra ex sed lorem faucibus luctus. Praesent mi risus, pharetra ut enim eget, maximus blandit nunc.</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="secondary-boxes">
        <ul>
            <li>
                <div class="secondary-box" style="background: url(/static/main/images/secondary-box1.jpg) -117px -21px no-repeat">
                    <a href="#">Curabitur ac quam sed nisl ultrices mollis.</a>
                </div>
            </li>
            <li>
                <div class="secondary-box" style="background: url(/static/main/images/secondary-box2.jpg) -349px -247px no-repeat">
                    <a href="#">Suspendisse non augue in magna posuere pellentesque at sed sem.</a>
                </div>
            </li>
            <li>
                <div class="secondary-box" style="background: url(/static/main/images/secondary-box3.jpg) -750px -127px no-repeat">
                    <a href="#">Vestibulum vulputate tellus non diam pharetra ultrices.</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="row news">
        <ul>
            <li>
                <div class="news-picture" style="background: url(/static/main/images/news1.jpg) -26px -10px no-repeat"></div>
                <div class="news-content">
                    <a href="#">Pellentesque leo ante, sodales ultricies quam quis, scelerisque egestas odio. Donec interdum quis nulla et maximus.</a>
                </div>
            </li>
            <li>
                <div class="news-picture" style="background: url(/static/main/images/news2.jpg) -26px -10px no-repeat"></div>
                <div class="news-content">
                    <a href="#">Donec sagittis risus nec mauris fermentum, at vulputate tellus mollis.</a>
                </div>
            </li>
            <li>
                <div class="news-picture" style="background: url(/static/main/images/news3.jpg) -26px -10px no-repeat"></div>
                <div class="news-content">
                    <a href="#">Duis pharetra et dolor in lobortis. Nam bibendum mi ac ipsum mollis, a iaculis elit elementum. Vivamus porttitor, erat et mattis condimentum, ipsum massa egestas massa, sit amet finibus diam dui a lacus. Nullam sit amet massa vitae nisi dignissim semper. Aliquam nec dictum magna, nec luctus sem. Sed elementum magna et gravida ullamcorper.</a>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}