{% extends 'main/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'main/css/slick-theme.css' %}" />
{% endblock %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}

<div class="primary-container">
  <div class="primary-box">
    <div class="primary-box-bgimage">
      <img src="{{ media_url }}/{{ primary_box_image_1 }}" alt="{{ primary_box_image_1 }}">
      <img src="{{ media_url }}/{{ primary_box_image_2 }}" alt="{{ primary_box_image_2 }}">
      <img src="{{ media_url }}/{{ primary_box_image_3 }}" alt="{{ primary_box_image_3 }}">
      <img src="{{ media_url }}/{{ primary_box_image_4 }}" alt="{{ primary_box_image_4 }}">
    </div>
    <div class="primary-box-heading">
      <p>{{ primary_box_text|safe }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="separate-banner">
    <p class="text-justify">
      China Railway Engineering Equipment (Australia) Pty Ltd (CREGA) has been established in Australia pursuant to a Cooperation Partnership Agreement with China Railway Engineering Equipment Croup (CREG) which is a subsidiary company of the pubic listed China Railway Engineering Corporation (CREC), a Fortune 500 and Brand 500 Company and a key state-owned company under Chinese Central Government.
    </p>
  </div>
  <div class="secondary-boxes">
    <ul>
      <li>
        <div class="secondary-box">
          <div class="secondary-box-bgimage">
            <img src="{{ media_url }}/{{ secondary_box_image_1 }}" alt="{{ secondary_box_image_1 }}">
          </div>
          <div class="secondary-box-heading">
            PRODUCTS
          </div>
          <div class="secondary-box-footer">
            <a href="{% url 'product' name='Product 1' %}">MORE</a>
          </div>
        </div>
      </li>
      <li>
        <div class="secondary-box">
          <div class="secondary-box-bgimage">
            <img src="{{ media_url }}/{{ secondary_box_image_2 }}" alt="{{ secondary_box_image_2 }}">
          </div>
          <div class="secondary-box-heading">
            SERVICES
          </div>
          <div class="secondary-box-footer">
            <a href="{% url 'service' name='Service 1' %}">MORE</a>
          </div>
        </div>
      </li>
      <li>
        <div class="secondary-box">
          <div class="secondary-box-bgimage">
            <img src="{{ media_url }}/{{ secondary_box_image_3 }}" alt="{{ secondary_box_image_3 }}">
          </div>
          <div class="secondary-box-heading">
            PROJECTS
          </div>
          <div class="secondary-box-footer">
            <a href="{% url 'project' name='Project 1' %}">MORE</a>
          </div>
        </div>
      </li>
      <li>
        <div class="secondary-box">
          <div class="secondary-box-bgimage">
            <img src="{{ media_url }}/{{ secondary_box_image_3 }}" alt="{{ secondary_box_image_3 }}">
          </div>
          <div class="secondary-box-heading">
            NEWS
          </div>
          <div class="secondary-box-footer">
            <a href="{% url 'news' %}">MORE</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'main/js/slick.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
  $('.primary-box-bgimage').slick({arrows: true, dots: false, autoplaySpeed: 5000, autoplay: true, speed: 500, fade: true});
  });
</script>
{% endblock %}
