{% load staticfiles %}

<div id="products-sub" class="row sub-menu">
  <div class="col-md-3">
    <p class="nav-sub-heading">TUNNELLING EQUIPMENT</p>
    <ul>
      <li><a href="{% url 'product' name='EPB Shield' %}">EPB Shield</a></li>
      <li><a href="{% url 'product' name='Mix-type TBM' %}">Mix-type TBM</a></li>
      <li><a href="{% url 'product' name='Slurry TBM' %}">Slurry TBM</a></li>
      <li><a href="{% url 'product' name='Hybrid TBM' %}">Hybrid TBM</a></li>
      <li><a href="{% url 'product' name='Rectangular TBM' %}">Rectangular TBM</a></li>
      <li><a href="{% url 'product' name='Pipe Jacking Machine' %}">Pipe Jacking Machine</a></li>
      <li><a href="{% url 'product' name='Gripper TBM' %}">Gripper TBM</a></li>
      <li><a href="{% url 'product' name='Single Shield TBM' %}">Single Shield TBM</a></li>
      <li><a href="{% url 'product' name='Double Shield TBM' %}">Double Shield TBM</a></li>
      <li><a href="{% url 'product' name='Tunnel Enlarging Machine (or Reaming TBM)' %}">Tunnel Enlarging Machine (or Reaming TBM)</a></li>
    </ul>
  </div>
  <!-- <div class="col-md-3"> -->
  <!--   <p class="nav-sub-heading">MINING EQUIPMENT</p> -->
  <!--   <ul> -->
  <!--     <li><a href="{% url 'product' name='Inclined Shaft TBM, Coal Lane TBM' %}">Inclined Shaft TBM, Coal Lane TBM</a></li> -->
  <!--     <li><a href="{% url 'product' name='Shaft Boring Machine' %}">Shaft Boring Machine</a></li> -->
  <!--     <li><a href="{% url 'product' name='Raise Borer' %}">Raise Borer</a></li> -->
  <!--     <li><a href="{% url 'product' name='Mining Machinery' %}">Mining Machinery</a></li> -->
  <!--   </ul> -->
  <!-- </div> -->
  <div class="col-md-3">
    <p class="nav-sub-heading">AUXILIARY EQUIPMENT</p>
    <ul>
      <li><a href="{% url 'product' name='Tunnelling Work Machinery' %}">Tunnelling Work Machinery</a></li>
      <li><a href="{% url 'product' name='Locomotive&sol;Rolling Stock' %}">Locomotive&sol;Rolling Stock</a></li>
      <li><a href="{% url 'product' name='Cutters' %}">Cutters</a></li>
      <li><a href="{% url 'product' name='Piling Machinery' %}">Piling Machinery</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <img class="nav-sub-img" src="{% static 'main/images/Product1.jpg' %}" alt="nav-sub-pic" />
  </div>
  <div class="col-md-3">
    <img class="nav-sub-img" src="{% static 'main/images/Product2.jpg' %}" alt="nav-sub-pic" />
  </div>
</div>
