{% extends 'main/base.html' %}

{% block title %}Product1{% endblock %}

{% block content %}

<div class="container">
    @Html.Partial("_Breadcrumb", Model.Breadcrumb)

    <div class="row section">
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla velit mauris, ornare id sem ut, suscipit vestibulum lectus. Sed iaculis ultricies massa gravida placerat. Vestibulum lacus lacus, luctus et diam id, ullamcorper luctus lacus. Etiam mi libero, sodales ac condimentum ut, tincidunt et ligula. Mauris malesuada, neque ac consequat iaculis, massa quam convallis elit, eget eleifend velit velit sit amet sem. Duis mollis metus non elit porttitor convallis. Nulla nisl justo, imperdiet sed viverra ac, rhoncus quis nunc. Praesent nec nulla risus.
        </div>
    </div>
    <div class="row section">
        <div class="col-md-12 video-container">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/Nl4I9aD30aA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row section">
        <div class="col-md-5">
            <div class="image-container">
                <img src="/static/main/images/secondary-box3.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-7">
            Ut ac augue eget dolor egestas vulputate sed vel nibh. Duis tortor enim, aliquet in consectetur ut, posuere in ipsum. Sed iaculis congue pellentesque. Integer bibendum luctus suscipit. Cras elementum leo magna, id laoreet nulla tristique et. Vivamus quis ornare justo, in accumsan felis. Sed quis tortor ac ipsum dictum blandit quis cursus ante. Sed tortor enim, luctus quis neque at, cursus pellentesque nibh. Vivamus dui quam, pharetra id venenatis in, vestibulum sit amet libero. In hac habitasse platea dictumst. Integer pretium semper auctor. Donec efficitur mi nisl, sed efficitur mauris mattis vel.
        </div>
    </div>
    <div class="row section">
        <div class="col-md-5">
            <div class="image-container">
                <img src="/static/main/images/secondary-box2.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-7">
            Ut ac augue eget dolor egestas vulputate sed vel nibh. Duis tortor enim, aliquet in consectetur ut, posuere in ipsum. Sed iaculis congue pellentesque. Integer bibendum luctus suscipit. Cras elementum leo magna, id laoreet nulla tristique et. Vivamus quis ornare justo, in accumsan felis. Sed quis tortor ac ipsum dictum blandit quis cursus ante. Sed tortor enim, luctus quis neque at, cursus pellentesque nibh. Vivamus dui quam, pharetra id venenatis in, vestibulum sit amet libero. In hac habitasse platea dictumst. Integer pretium semper auctor. Donec efficitur mi nisl, sed efficitur mauris mattis vel.
        </div>
    </div>
</div>

{% endblock %}