{% load staticfiles %}

<div id="products-sub" class="row sub-menu">
  <div class="col-md-3">
    <p class="nav-sub-heading"><a href="{% url 'product' name='Product1' %}">PRODUCT1</a></p>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla, risus auctor sagittis luctus, est erat ullamcorper dui, venenatis sagittis est eros sed lacus. Aliquam vel ornare magna, in posuere lorem. Donec nec eleifend metus. Duis quis maximus massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque laoreet ante metus. Nam sed ex metus. Duis fermentum, sapien in dictum lacinia, turpis dui molestie elit, nec rhoncus ante est rhoncus magna. Sed id ligula sed nibh dapibus condimentum ut et metus. Morbi nibh est, sodales non dolor ut, faucibus feugiat ligula.
    </p>
    <p class="nav-sub-heading"><a href="{% url 'product' name='Product2' %}">PRODUCT2</a></p>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla, risus auctor sagittis luctus, est erat ullamcorper dui, venenatis sagittis est eros sed lacus. Aliquam vel ornare magna, in posuere lorem. Donec nec eleifend metus. Duis quis maximus massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque laoreet ante metus. Nam sed ex metus. Duis fermentum, sapien in dictum lacinia, turpis dui molestie elit, nec rhoncus ante est rhoncus magna. Sed id ligula sed nibh dapibus condimentum ut et metus. Morbi nibh est, sodales non dolor ut, faucibus feugiat ligula.
    </p>
  </div>
  <div class="col-md-3">
    <p class="nav-sub-heading"><a href="{% url 'product' name='Product3' %}">PRODUCT3</a></p>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla, risus auctor sagittis luctus, est erat ullamcorper dui, venenatis sagittis est eros sed lacus. Aliquam vel ornare magna, in posuere lorem. Donec nec eleifend metus. Duis quis maximus massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque laoreet ante metus. Nam sed ex metus. Duis fermentum, sapien in dictum lacinia, turpis dui molestie elit, nec rhoncus ante est rhoncus magna. Sed id ligula sed nibh dapibus condimentum ut et metus. Morbi nibh est, sodales non dolor ut, faucibus feugiat ligula.
    </p>
  </div>
  <div class="col-md-3">
    <p class="nav-sub-heading"><a href="{% url 'product' name='Product4' %}">PRODUCT4</a></p>
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla, risus auctor sagittis luctus, est erat ullamcorper dui, venenatis sagittis est eros sed lacus. Aliquam vel ornare magna, in posuere lorem. Donec nec eleifend metus. Duis quis maximus massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque laoreet ante metus. Nam sed ex metus. Duis fermentum, sapien in dictum lacinia, turpis dui molestie elit, nec rhoncus ante est rhoncus magna. Sed id ligula sed nibh dapibus condimentum ut et metus. Morbi nibh est, sodales non dolor ut, faucibus feugiat ligula.
    </p>
  </div>
  <div class="col-md-3">
    <img class="nav-sub-img" src="{% static 'main/images/secondary-box2.jpg' %}" alt="nav-sub-pic" />
  </div>
</div>
