{% load staticfiles %}

<div id="services-sub" class="row sub-menu">
  <div class="col-md-3">
    <p class="overview">
      CREG engages in TBM tunnelling subcontracts providing one-stop and comprehensive manpower and technology support for tunnelling. And now CREG executes tunnelling subcontracts for Zhengzhou Metro Line 2 and Shenzhen Metro Line 9 and other projects.
    </p>
  </div>
  <div class="col-md-3">
    <img class="nav-sub-img" src="{% static 'main/images/TBM Leasing.jpg' %}" alt="TBM Leasing.jpg" />
    <p class="nav-sub-heading"><a href="{% url 'service' name='TBM Leasing' %}">TBM Leasing</a></p>
  </div>
  <div class="col-md-3">
    <img class="nav-sub-img" src="{% static 'main/images/TBM Remanufacturing.jpg' %}" alt="TBM Remanufacturing.jpg" />
    <p class="nav-sub-heading"><a href="{% url 'service' name='TBM Remanufacturing' %}">TBM Remanufacturing</a></p>
  </div>
  <div class="col-md-3">
    <img class="nav-sub-img" src="{% static 'main/images/Technical Services.jpg' %}" alt="Technical Services.jpg" />
    <p class="nav-sub-heading"><a href="{% url 'service' name='Technical Services' %}">Technical Services</a></p>
  </div>
</div>
