{% load staticfiles %}

<div id="services-sub" class="row sub-menu">
  <div class="col-md-3">
    <p class="nav-sub-heading"><a href="{% url 'service' name='#' %}">TBM Service</a></p>
    <ul>
      <li><a href="{% url 'service' name='#' %}">Installation services</a></li>
      <li><a href="{% url 'service' name='#' %}">Personnel</a></li>
      <li><a href="{% url 'service' name='#' %}">Excavation tools</a></li>
      <li><a href="{% url 'service' name='#' %}">Spare and wear parts</a></li>
      <li><a href="{% url 'service' name='#' %}">Refurbishment</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <p class="nav-sub-heading"><a href="{% url 'service' name='#' %}">EQUIPMENT LEASING</a></p>
    <ul>
      <li><a href="{% url 'service' name='#' %}">Equipment Leasing Service 1</a></li>
      <li><a href="{% url 'service' name='#' %}">Equipment Leasing Service 2</a></li>
      <li><a href="{% url 'service' name='#' %}">Equipment Leasing Service 3</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <p class="nav-sub-heading"><a href="{% url 'service' name='#' %}">M&amp;E INSTALLATION</a></p>
    <ul>
      <li><a href="{% url 'service' name='#' %}">Equipment Leasing Service 1</a></li>
      <li><a href="{% url 'service' name='#' %}">Equipment Leasing Service 2</a></li>
      <li><a href="{% url 'service' name='#' %}">Equipment Leasing Service 3</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <img class="nav-sub-img" src="{% static 'main/images/secondary-box2.jpg' %}" alt="nav-sub-pic" />
  </div>
</div>
