body {
    padding-top: 128px;
    padding-bottom: 20px;
}


a, a:hover {
    display: block;
    text-decoration: none;
}

a {
    color: #EEE;
}

a:hover {
    color: #FFF;
}

a:focus {
    outline: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-default {
    background-color: #FFFFFF;

    .navbar-nav > li > div {
	padding: 8px 8px 8px 8px;
	color: #333;
	cursor: pointer;
    }

    .navbar-nav > li > div#home-link {
	color: rgb(0, 115, 255);
    }

    .navbar-nav > li > div:hover {
	color: #FFFFFF;
	background-color: rgb(0, 115, 255);
	border-bottom: 5px solid rgb(0, 115, 255);
    }

    .navbar-nav > li > div#home-link:hover {
	color: #FFFFFF;
	background-color: rgb(0, 115, 255);
	border-bottom: 5px solid rgb(0, 115, 255);
    }

    .navbar-nav > li > div.active {
	color: rgb(0, 115, 255);
	background-color: #FFFFFF;
	border-bottom: 5px solid rgb(0, 115, 255);
    }

    .navbar-nav > li > div.active:hover {
	color: #FFFFFF;
	background-color: rgb(0, 115, 255);
	border-bottom: 5px solid rgb(0, 115, 255);
    }
}

.navbar-brand {
    height: 128px;

    img {
	position: relative;
	top: 49px;
	margin-top: -28px;
    }
}

.navbar-nav {
    float: right;
    position: relative;
    top: 82px;
}

input#crega-search {
    font-size: 12px;
    font-style: italic;
    border-radius: 13px;
    box-shadow: 0 1px 0 #555;
    border: 1px solid #000;
    padding: 3px 30px 2px 10px;
    background: linear-gradient(to bottom, rgba(14,14,14,1) 0, rgba(50,50,50,1) 24px, rgba(255,255,255,1) 100px, rgba(238,238,238,1) 124px) no-repeat left top transparent;
    float: left;
    color: #888;
    width: 180px;
    height: 21px;
    transition: background .2s linear;
}

input#crega-btn-search {
    box-shadow: none;
    min-width: 0;
    padding: 0;
    filter: none;
    width: 24px;
    height: 21px;
    margin-left: -30px;
    position: relative;
    float: left;
    color: transparent;
    border: 0 none;
    text-align: right;
    text-indent: -999em;
    cursor: pointer;
    background: url('/static/main/images/search.png') 0 3px no-repeat;
}

.footer-panel {
    border-top: 1px solid #666;
    clear: both;
    width: 100%;
    float: left;
    background: url('/static/main/images/footerpanel-bg.png') no-repeat center top, -webkit-linear-gradient(top, #474A50, #0F161A) repeat-x 0 0;
    background: url('/static/main/images/footerpanel-bg.png') no-repeat center top, -o-linear-gradient(top, #474A50, #0F161A) repeat-x 0 0;
    background: url('/static/main/images/footerpanel-bg.png') no-repeat center top, -moz-linear-gradient(top, #474A50, #0F161A) repeat-x 0 0;
    background: url('/static/main/images/footerpanel-bg.png') no-repeat center top, linear-gradient(top, #474A50, #0F161A) repeat-x 0 0;
    margin-bottom: -1px;
    font-size: .8em;
    color: #CCC;

    .columns {
        width: 960px;
        padding: 0 10px;
        margin: 0 auto;
        clear: both;
    }

    h3 {
        font-size: 1em;
        color: #FCB712;
        font-weight: bold;

        a {
          color: #FCB712;
        }

        a:hover {
          color: #FFF;
        }
    }

    ul {
        list-style: none;
        padding: 0 0 2px 0;
        margin: 0;

        li {
            background: url('/static/main/images/bullets.gif') no-repeat -2px 2px;
            color: #666;
            margin: 4px 0;
            padding: 0 0 0 8px;
        }

        li:hover {
            background: url('/static/main/images/bullets.gif') no-repeat -2px -98px;
            color: #FFCF01;
        }
    }
}

#footer {
    background-color: #0F161A;
    border-top: 1px solid #0F161A;
    border-bottom: 1px solid #404040;
    clear: both;
    color: #CCC;
    height: auto;
    margin: 0;
    padding-top: 15px;
    position: relative;
    overflow: hidden;

    ul {
        clear: both;
        font-size: .8em;
        margin: 0 auto;
        width: 960px;
        height: 1%;
        list-style: none;
        padding: 0 0 0 12px;
        display: block;

        li {
            float: left;
            padding: 0 10px 16px 14px;
            overflow: inherit;
            white-space: nowrap;
        }
    }
}

.primary-container {
    width: 100%;
}

.primary-box {
    height: 360px;
    margin: 0 auto;
}

.primary-box-heading {
    width: 50%;
    height: auto;
    font-size: 28px;
    padding: 50px;
    position: absolute;
    margin-top: -280px;
    color: #FFF;
}

.primary-box-bgimage {
    img {
        z-index: -99;
        width: 100%;
        height: 288px;
    }
}

.secondary-boxes {
    clear: both;
    height: auto;
    margin: 0;
    padding-top: 15px;
    position: relative;
    overflow: hidden;

    ul {
        list-style: none;
        margin: 0 auto;
        display: block;

        li {
            width: 350px;
            height: 248px;
            float: left;
            padding: 0 0 0 10px;
            overflow: inherit;

            .secondary-box {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.secondary-box-heading {
    height: auto;
    font-size: 18px;
    padding: 120px 5px 5px 5px;
}

.secondary-box-bgimage {
    img {
        position: absolute;
        z-index: -99;
        width: 350px;
        height: 248px;
    }
}

.news {
    clear: both;
    height: auto;
    margin: 5px 5px 5px 5px;
    padding-top: 15px;
    position: relative;
    overflow: hidden;

    ul {
        list-style: none;
        margin: 0 auto;
        display: block;

        li {
            height: 72px;
            margin-top: 5px;
            padding: 5px 0 0 10px;
            overflow: inherit;

            .news-picture {
                padding: 5px 5px 5px 5px;
                float: left;
                height: 72px;
                width: 108px;
            }

            .news-content {
                padding: 5px 5px 5px 5px;
                float: left;
            }

            a, a:hover {
                display: block;
                text-decoration: none;
            }

            a {
                color: #383838;
            }

            a:hover {
                color: #0068FF;
            }
        }
    }
}

.image-container {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.news-image-container {
    width: 100%;
    height: auto;
    overflow: auto;
}

.news-heading {
    font-size: 20pt;
}

.action {
    a {
        color: #AFAFAF;
    }

    a:hover {
        color: #0068FF;
    }
}

.section {
    padding: 50px 8px 8px 0;
}

.video-container {
    margin: 0 auto;
}

#enquiry-form {
    input {
        width: 100%;
    }

    .required {
        color: #FF0000;
    }

    textarea {
        width: 100%;
        height: auto;
    }
}

#contact {
    a, a:hover {
        text-decoration: underline;
        color: blue;
    }    
}

.thumbnail {
  position: relative;
  margin-bottom: 0px;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.heading {
  font-size: 32pt;
  font-weight: bold;
}

.nav-sub-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.nav-sub-heading {
    font-weight: bold;
}

.small-icon {
    font-size: 0.8em;
}

.sub-menu {
    display: none;
    position: fixed;
    top: 118px;
    z-index: 999;
    background-color: #FFFFFF;
    border-top: 5px solid rgb(0, 115, 255);
    width: inherit;
    font-size: 8pt;
    padding: 5px;
    box-shadow: 0px 15px 15px #333;

    a {
	color: rgb(0, 115, 255);
    }
}