body {
    font-family: "Fira Sans";
    font-weight: 300;
    padding-top: 88px;
}

a {
    color: #EEE;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

a:focus {
    outline: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-default {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDD;
    min-height: 88px;

    .navbar-nav > li > div {
	padding: 8px 8px 8px 8px;
	color: #333;
	cursor: pointer;
    }

    .navbar-nav > li > div#home-link {
	color: rgb(0, 115, 255);
    }

    .navbar-nav > li > div:hover {
	color: #FFFFFF;
	background-color: rgb(0, 115, 255);
	border-bottom: 5px solid rgb(0, 115, 255);
    }

    .navbar-nav > li > div#home-link:hover {
	color: #FFFFFF;
	background-color: rgb(0, 115, 255);
	border-bottom: 5px solid rgb(0, 115, 255);
    }

    .navbar-nav > li > div.active {
	color: rgb(0, 115, 255);
	background-color: #FFFFFF;
	border-bottom: 5px solid rgb(0, 115, 255);
    }

    .navbar-nav > li > div.active:hover {
	color: #FFFFFF;
	background-color: rgb(0, 115, 255);
	border-bottom: 5px solid rgb(0, 115, 255);
    }
}

.navbar-nav {
    float: right;
    position: relative;
    top: 36px;
}

input#crega-search {
    font-size: 12px;
    font-style: italic;
    border-radius: 13px;
    box-shadow: 0 1px 0 #555;
    border: 1px solid #000;
    padding: 3px 30px 2px 10px;
    background: linear-gradient(to bottom, rgba(14,14,14,1) 0, rgba(50,50,50,1) 24px, rgba(255,255,255,1) 100px, rgba(238,238,238,1) 124px) no-repeat left top transparent;
    float: left;
    color: #888;
    width: 180px;
    height: 21px;
    transition: background .2s linear;
}

input#crega-btn-search {
    box-shadow: none;
    min-width: 0;
    padding: 0;
    filter: none;
    width: 24px;
    height: 21px;
    margin-left: -30px;
    position: relative;
    float: left;
    color: transparent;
    border: 0 none;
    text-align: right;
    text-indent: -999em;
    cursor: pointer;
    background: url('/static/main/images/search.png') 0 3px no-repeat;
}

.footer-panel {
    clear: both;
    width: 100%;
    float: left;
    background: url('/static/main/images/footerpanel-bg.png') no-repeat center top, -webkit-linear-gradient(top, rgb(0, 190, 255), rgb(0, 115, 255)) repeat-x 0 0;
    background: url('/static/main/images/footerpanel-bg.png') no-repeat center top, -o-linear-gradient(top, rgb(0, 190, 255), rgb(0, 115, 255)) repeat-x 0 0;
    background: url('/static/main/images/footerpanel-bg.png') no-repeat center top, -moz-linear-gradient(top, rgb(0, 190, 255), rgb(0, 115, 255)) repeat-x 0 0;
    background: url('/static/main/images/footerpanel-bg.png') no-repeat center top, linear-gradient(top, rgb(0, 190, 255), rgb(0, 115, 255)) repeat-x 0 0;
    margin-top: 20px;
    margin-bottom: -1px;
    font-size: .8em;
    color: #CCC;

    .columns {
        width: 960px;
        padding: 0 4px;
        margin: 0 auto;
        clear: both;
    }

    h3 {
        font-size: 1em;
        color: #FCB712;
        font-weight: 400;

        a {
            color: #FCB712;
        }

        a:hover {
            color: #FFF;
        }
    }

    ul {
        list-style: none;
        padding: 0 0 2px 0;
        margin: 0;

        li {
            background: url('/static/main/images/bullets.gif') no-repeat -2px 2px;
            color: #666;
            margin: 4px 0;
            padding: 0 0 0 8px;
        }

        li:hover {
            background: url('/static/main/images/bullets.gif') no-repeat -2px -98px;
            color: #FFCF01;
        }
    }
}

#footer {
    background-color: rgb(0, 115, 255);
    border-top: 1px solid rgb(0, 115, 255);
    border-bottom: 1px solid #404040;
    clear: both;
    color: #FFF;
    height: auto;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;

    ul {
        clear: both;
        font-size: .8em;
        margin: 0 auto;
        width: 960px;
        height: 1%;
        list-style: none;
        padding: 0 0 0 12px;
        display: block;

        li {
            float: left;
            /* padding: 0 10px 16px 14px; */
            overflow: inherit;
            white-space: nowrap;

	    a, span {
		padding: 0 8px 0 8px;
	    }

	    a {
		border-right: 1px solid #FFF;
	    }
        }
    }
}

.primary-container {
    width: 1240px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
}

.primary-box {
    margin: auto;
    padding: 0 20px 0 20px;
}

.primary-box-heading {
    height: auto;
    font-size: 1.8em;
    font-weight: 400;
    padding: 5px 5px 0 5px;
    position: absolute;
    margin: -130px 0 0 18px;
    color: #FFF;
    background: rgba(51, 51, 51, 0.8);
}

.primary-box-bgimage {
    img {
        z-index: -99;
        width: 100%;
        height: 420px;
    }
    /* overflow: hidden; */
    box-shadow: 0 0 10px #333;
}

@-webkit-keyframes zoom {
    0% {
	-webkit-transform: scale(1, 1);
    }
    80% {
	-webkit-transform: scale(4, 4);
    }
    100% {
	-webkit-transform: scale(4, 4);
    }
}

@keyframes zoom {
    0% {
	transform: scale(1, 1);
    }
    80% {
	transform: scale(4, 4);
    }
    100% {
	transform: scale(4, 4);
    }
}

.slick-current {
    -webkit-animation: zoom 100s;
    animation: zoom 100s;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.secondary-boxes {
    clear: both;
    height: 264px;
    margin: 0 0 50px 0;
    position: relative;
    overflow: hidden;
    border: 1px solid #DDD;
    background-color: rgb(250, 250, 250);

    ul {
        list-style: none;
        margin: 58px auto;
        display: block;

        li {
            float: left;
            overflow: inherit;

            .secondary-box {
                width: 268px;
                height: 184px;
            }
        }
    }
}

.secondary-box-heading {
    position: absolute;
    font-size: 1.2em;
    margin-top: -28px;
}

.secondary-box-footer {
    position: absolute;
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 168px;
    margin-left: 225px;
    
    a {
	color: rgb(0, 115, 255);
    }

    a:hover {
	color: rgb(0, 115, 255);
    }

}

.secondary-box-bgimage {
    img {
        position: absolute;
        width: 256px;
        height: 165px;
    }
}

.news {
    clear: both;
    height: auto;
    margin: 5px 5px 5px 5px;
    padding-top: 15px;
    position: relative;
    overflow: hidden;

    ul {
        list-style: none;
        margin: 0 auto;
        display: block;

        li {
            height: 72px;
            margin-top: 5px;
            padding: 5px 0 0 10px;
            overflow: inherit;

            .news-picture {
                padding: 5px 5px 5px 5px;
                float: left;
                height: 72px;
                width: 108px;
            }

            .news-content {
                padding: 5px 5px 5px 5px;
                float: left;
            }

            a {
                color: #383838;
                display: block;
	    }
	    
	    a:hover {
                color: #0068FF;
                display: block;
            }
        }
    }
}

.image-container {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.news-image-container {
    width: 100%;
    height: auto;
    overflow: auto;
}

.action {
    a {
	display: inline;
        color: #AFAFAF;
    }

    a:hover {
	display: inline;
        color: #0068FF;
    }
}

.video-container {
    margin: 0 auto;
}

#enquiry-form {
    input {
        width: 100%;
    }

    .required {
        color: #FF0000;
    }

    textarea {
        width: 100%;
        height: auto;
    }
}

#contact {
    a {
        text-decoration: underline;
        color: blue;
    }

    a:hover {
        text-decoration: underline;
        color: blue;
    }    
}

.thumbnail {
    position: relative;
    margin-bottom: 0px;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.heading {
    font-size: 28pt;
    font-weight: 400;
}

.nav-sub-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.nav-sub-heading {
    font-weight: 500;
}

.small-icon {
    font-size: 0.8em;
}

.sub-menu {
    display: none;
    position: fixed;
    top: 72px;
    z-index: 999;
    background-color: #FFFFFF;
    border-top: 5px solid rgb(0, 115, 255);
    width: inherit;
    font-size: 8pt;
    padding: 5px;
    box-shadow: 0px 15px 15px #333;

    a {
	color: rgb(0, 115, 255);
    }
    
    a:hover {
	color: rgb(0, 115, 255);
	background-color: #EEE;
    }

    ul {
	list-style: outside none none;
	padding: 5px 0 5px 20px;
    }

    li:hover:before {
	font-family: "Glyphicons Halflings";
	font-size: 0.8em;
	content: "\e258";
	margin: 0 6px 0 -15px;
	color: rgb(0, 115, 255)
    }
}

.side-menu {
    font-size: 0.8em;
    padding: 5px;

    a {
	color: rgb(0, 115, 255);
    }

    a:hover {
	background-color: #EEE;
    }

    ul {
	list-style: outside none none;
	padding: 5px 0 5px 20px;
    }

    li:hover:before {
	font-family: "Glyphicons Halflings";
	font-size: 0.8em;
	content: "\e258";
	margin: 0 6px 0 -15px;
	color: rgb(0, 115, 255);
    }

    li.active {
	a {
	    background-color: #EEE;
	}
    }

    li.active:before {
	font-family: "Glyphicons Halflings";
	font-size: 0.8em;
	content: "\e258";
	margin: 0 6px 0 -15px;
	color: rgb(0, 115, 255);
    }
}

.separate-banner {
    font-size: 1.4em;
    padding: 20px 0 5px 0;
}

label {
    font-weight: 400;
}

#footer-logo {
    float: left;
    margin-left: 640px;
    margin-top: -15px;
}

#breadcrumb {
    font-size: 2.8em;
    color: #FFF;
    padding: 20px;
    background-color: rgb(0, 115, 255)
}

.sub-heading {
    padding: 5px 0 5px 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 2.0em;
    border-bottom: 1px solid #EEE;
}

.paragraph {
    margin-bottom: 20px;
    img {
	width: 100%;
	height: auto;
    }
}
